/*reset geral do CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*seletor para o elemento root, representando o próprio <html>*/
/*abaixo ficam as variáveis globais*/
:root {
  --text-color: white;
  --bg-url: url(./assets/dark-bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --stroke-color-hover: #FFFFFF;
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2); 
  --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/light-bg-mobile.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --stroke-color-hover: #000000;
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);    
  --switch-bg-url: url(./assets/Sun.svg);
}

body {
  /*
  background-image: url(./assets/dark-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*background: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

#container {
  width: 360px;
  /*height precisa ser dinâmico*/
  /*margin: top right bottom left*/
  margin: 56px auto 32px auto;
  /*obs.: omitindo uma das laterais, o valor é automizado*/
}

/*profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  /*não precisa definir o height*/
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/*switch*/
#switch {
  width: 64px;
  height: 24px;
  position: relative;
  margin: 0px auto;
  padding: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #FFFFFF var(--switch-bg-url) no-repeat center;
  backdrop-filter: blur(2px);
  border: 0;
  border-radius: 50%;
  /*sobrepõe as camadas dos elementos na div*/
  position: absolute;
  /*muda a sequência de sobreposição do elemento*/
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  /*surface-color-dark-mode*/
  background: var(--surface-color);
  /*stroke-color-dark-mode*/
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/
#links {
  padding: 24px;
}

#links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}

#links ul li a{
  display: flex;
  width: 312px;
  height: 56px;
  align-items: center;
  justify-content: center;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  /*permite uma transição suave na mudança do(s) elemento(s)*/
  transition: background 0.2s;
}

/*pseudo-selector*/
#links ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--stroke-color-hover);
  backdrop-filter: blur(4px);
  border-radius: 8px;
}

/*social links*/
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 24px;
}

#social-links ul  {
  display: flex;
  justify-content: center;
  list-style: none;
}

#social-links a {
  display: flex;
  padding: 16px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/*footer*/
#footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}



